apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-service
  template:
    metadata:
      labels:
        app: task-service
    spec:
      containers:
        - name: task-service
          image: docker.io/slipneff/dobrika-task-service:latest
          imagePullPolicy: Always
          ports:
            - name: grpc
              containerPort: 8083
          volumeMounts:
            - name: config
              mountPath: /app/deployments/config.yaml
              subPath: config.yaml
      volumes:
        - name: config
          configMap:
            name: task-service-config
            items:
              - key: config.yaml
                path: config.yaml

